body { 
    background: black;
    font-weight: 300;
    font-size: 30px;
    color: rgb(31, 218, 40);
}

.blinking-cursor {
    font-weight: 800;
    font-size: 30px;
    color: rgb(31, 218, 40);
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
        color: rgb(31, 218, 40);
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
        color: rgb(31, 218, 40);
    }
  }
  
  @-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
        color: rgb(31, 218, 40);
    }
  }
  
  @-ms-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
        color: rgb(31, 218, 40);
    }
  }
  
  @-o-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
        color: rgb(31, 218, 40);
    }
  }